* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styles */
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

h1, h2, h3 {
  padding-bottom: 20px;
  line-height: 1.1em
}

/* Utillity Classes */
.flex-container {
  display: flex;
  margin: auto;
  max-width: 1100px;
  justify-content: center;
  align-content: center;
}


.text-primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background: #f7c08a;
  color: #333;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

.bg-primary {
  color: #333;
  background: #f7c08a;
}

.l-heading {
  font-size: 40px;
}

/* Padding */
.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

/* Navbar */
#navbar {
  width: 100%;
  background: #333;
  color: #fff;
  overflow: auto;
}

#navbar a {
  color: #fff;
}

#navbar h1 {
  width: 50%;
  padding: 17px;
}

#navbar ul {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

#navbar ul li {
  padding: 17px;
}

#navbar ul li a {
  padding: 20px;
  text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
  background: #444;
  color: #f7c08a;
}

/* Showcase */
#showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  height: 500px;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 170px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* Home Info */
#home-info {
  display: flex;
  margin: auto;
  overflow: auto;
  justify-content: center;
  align-content: center;
  height: 400px;
  width: 100%;
}

#home-info .info-img {
  width: 50%;
  background: url('../img/photo-1.jpg') no-repeat center center/cover;
  min-height: 100%;
}

#home-info .info-content {
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

#home-info .info-content p {
  padding-bottom: 30px;
}

/* Features */
#features {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.box {
  padding: 50px;
  text-align: center;
}

.box i {
  margin-bottom: 10px;
}

/*About Info */
#about-info {
  display: flex;
  margin: auto;
  overflow: auto;
  justify-content: center;
  align-content: center;
  width: 100%;
}

#about-info .info-right {
  width: 50%;
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
}

#about-info .info-right img {
  margin: auto;
  width: 70%;
  border-radius: 50%;
}


#about-info .info-left {
  width: 50%;
  min-height: 100%;
  padding: 20px;

}

#testimonials {
  width: 100%;
  margin: auto;
  background: url('../img/test-bg.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

#testimonials .testimonial {
  width: 95%;
  margin-bottom: 30px;
  display: flex;
  border-radius: 5px;
  opacity: 0.9;

}

#testimonials .testimonial img {
  width: 15%;
  height: 100%;
  margin-right: 20px;
  padding: 20px;
  border-radius: 50%;
}

#testimonials h2 {
  color: #fff;
  padding-bottom: 40px;
}

/* Footer */
#main-footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}